/* Empty. Add your own CSS if you like */

.popup-container .popup {
  border-radius: 4px;
  width: 70%;
  background-color: #fff;
}

.panel-body .login-form {
  border: none;
}

.login-form .login-input {
  padding-left: 20px;
}